<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.esaip.projetandroidbbvp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!--Permission pour tester l'état de la connexion internet-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_projet"
        android:label="@string/titre_application"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.esaip.projetandroidbbvp.ConnexionActivity"
            android:label="@string/titre_application"
            android:theme="@style/AppThemeConnection"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.esaip.projetandroidbbvp.AccueilActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_accueil" >
        </activity>
        <activity
            android:name="org.esaip.projetandroidbbvp.ListerMessagesActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_lister_messages" >
        </activity>
        <activity
            android:name="org.esaip.projetandroidbbvp.EnvoyerMessageActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_envoyer_message" >
        </activity>
    </application>

</manifest>
